
<!--property binding : lier une propriété HTML avec une propriété du composant-->
<!---<input [value]="monInput" [placeholder]="placeHolderTexte"  #x />
{{monInput}}
{{x}}--->
<!--event binding-->
<!---<button (click)="like(x.value)">Like</button>--->
<!---<div>
<input [placeholder]="placeHolderTexte" [(ngModel)]="monInput2">
{{monInput2}}
</div>--->

<div class="container py-4">
  <!---interpolation: afficher une valeur de type simple ici pageTitle---->
    <h2 class="mb-3">{{ pageTitle }} <a routerLink="add"><button class="btn btn-primary">Proposer un événement</button></a></h2>

    <!-- Recherche -->
    <input type="text" class="form-control mb-4"
           [placeholder]="placeHolderTexte" [(ngModel)]="monInput2" > {{monInput2}}

    <div class="row g-3">
        <div class="col-md-4" *ngFor="let e of listEvent | contains:monInput2" >
            <!---<div *ngIf="event.title.toLowerCase().includes(monInput2.toLowerCase())" class="card h-100 shadow-sm"  >--->
             <app-event-card [event]="e" (liked)="likeEvent($event)"></app-event-card>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
